---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Lukas Wanner" description="About Lukas Wanner">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a highly skilled and driven full stack developer, I have always
            had a passion for technology and the endless possibilities it
            presents. My love for coding began at a young age, and I have since
            honed my skills through a combination of self-study and formal
            education.
          </p>
          <p>
            Throughout my career, I have had the opportunity to work on a wide
            range of projects, from simple websites to complex web applications.
            With a focus on the latest technologies and industry trends, I
            approach each project with a strategy-minded perspective,
            considering the goals and objectives of the project and its users.
          </p>
          <p>
            Whether working on a team or independently, I am known for my
            ability to bring a fresh and innovative approach to each project. My
            passion for development shines through in the quality of my work,
            and I am always seeking new challenges and opportunities to continue
            growing and improving as a developer.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <ul class="about-section-list">
            <li>
              Bachelor of Science in Applied Computer Science, HTWG Konstanz
            </li>
            <li>Major: Computer Science</li>
            <li>Graduation Date: March 2022</li>
            <li>
              Relevant Coursework: Data Structures and Algorithms, Web
              Development, Operating Systems, Database Systems
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul class="about-section-list">
            <li>Front-end:</li>
            <li>
              HTML, CSS and JavaScript, Typescript React, Vue, Svelte or other
              JavaScript frameworks.
            </li>
            <li>Responsive design and UI/UX design</li>
            <li>Back-end:</li>
            <li>
              Server-side scripting languages such as Node.js or Python Database
              management (SQL, Postgres, etc.)
            </li>
            <li>
              RESTful API design and development Server deployment and hosting
            </li>
            <li>General:</li>
            <li>Docker, Git and scrum/agile workflow</li>
            <li>
              Web security and best practices Agile development methodologies
            </li>
            <li>Excellent written and verbal communication skills</li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>

  <style>
    .about {
      display: flex;
      flex-direction: column;
      gap: 3.5rem;
    }

    img {
      margin-top: 1.5rem;
      border-radius: 1.5rem;
      box-shadow: var(--shadow-md);
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      color: var(--gray-200);
    }

    .section-title {
      grid-column-start: 1;
      font-size: var(--text-xl);
      color: var(--gray-0);
    }

    .content {
      grid-column: 2 / 4;
    }

    .content :global(a) {
      text-decoration: 1px solid underline transparent;
      text-underline-offset: 0.25em;
      transition: text-decoration-color var(--theme-transition);
    }

    .about-section-list {
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      font-size: var(--text-md);
      line-height: 1.2;
      list-style: none;
    }

    .content :global(a:hover),
    .content :global(a:focus) {
      text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
      .about {
        display: grid;
        grid-template-columns: 1fr 60% 1fr;
      }

      .about > :global(:first-child) {
        grid-column-start: 2;
      }

      section {
        display: contents;
        font-size: var(--text-lg);
      }
    }
  </style>
</BaseLayout>
